%p#notice= notice
%p
  %strong Name:
  = @survey.name
%p
  %strong Date:
  = @survey.date
%p
  %strong Course:
  = @survey.course.name

.questions
  - @survey.questions.each do |question|
    = render partial: "questions/question_show_#{question.question_type}", locals: {question: question}
= link_to 'Edit', edit_survey_path(@survey)
