%div[@course]
  %h1= course.name

  %p.instructors Instructors: #{course.instructor_names}
  %p.dates Dates: #{course.dates}
  %p.enrollment #{course.enrollment} Enrollments

  .surveys
    %h2 Surveys
    = button_to "Add Survey", new_course_survey_path(@course), method: :get
    - course.surveys.each do |survey|
      = link_to "Survey on #{survey.date} - (#{survey.name})", survey
