= simple_form_for(@course) do |f|
  = f.error_notification
  .form-inputs
    = f.input :name
    = f.input :start_date
    = f.input :end_date
    = f.input :enrollment
    = f.association :instructors, label_method: :name, input_html: { class: 'chosen-select' }
  .form-actions
    = f.button :submit
