!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ExitTickets
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %header.navigation{:role => "banner"}
      .navigation-wrapper
        %a.logo{:href => root_path}
          = image_tag("logo.png")
        %a#js-mobile-menu.navigation-menu-button{:href => "javascript:void(0)"} MENU
        %nav{:role => "navigation"}
          %ul#js-navigation-menu.navigation-menu.show
            %li.nav-link
              = link_to "Users", users_path
            %li.nav-link
              = link_to "Courses", courses_path
        .navigation-tools
          %ul#js-navigation-menu.navigation-menu.show
            - if current_user
              %li.nav-link
                = link_to "Welcome, #{current_user.name}", current_user
              %li.nav-link
                = link_to "(Sign out)", logout_path
            - else
              %li.nav-link
                = link_to "Sign in", login_path
    - flash.each do |key, msg|
      %p{class: "flash-#{key}"}= msg
    .container
      = yield
